SNOWFLAKE_ACCOUNT=your_account_here
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=TRANSFORMER
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=NYC_TAXI
SNOWFLAKE_SCHEMA=RAW
AIRFLOW_UID=50000
